.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.direction-column {
  flex-direction: column;
}
.direction-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}